<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <div><img src="/images/logo-mercado-liebre.svg" alt=""></div>
        <div>
            <h4>Lugar para poner barra de búsqueda</h4>
        </div>
        <div>
            <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="">
                <p>$6770</p>
                <p>40% Off</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="">
                <p>$230000</p>
                <p>20% Off</p>
                <p>Macboock Pro 2019</p>
            </article>
            <article>
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70500</p>
                <p>10% Off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="">
                <p>$23200</p>
                <p>5% Off</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
        <section>
            <h3>Ofertas</h3>
            <article>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="">
                <p>$6770</p>
                <p>40% Off</p>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="">
                <p>$230000</p>
                <p>20% Off</p>
                <p>Macboock Pro 2019</p>
            </article>
            <article>
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <p>$70500</p>
                <p>10% Off</p>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="">
                <p>$23200</p>
                <p>5% Off</p>
                <p>SmartTV Samsung 43"</p>
            </article>
        </section>
    </main>
</body>
<footer>
    <section>
        <h4><strong>Paga con tarjeta o en efectivo</strong></h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <h4><strong>Envío gratis desde $ 2.500</strong></h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de Mercado Puntos.</p>
    </section>
    <section>
        <h4><strong>Seguridad, de principio a ﬁn</strong></h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>
    <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</html>